<h1>Assemble Your Fleet</h1>

<% ships.forEach(function(ship) { %>
    <h2><%= ship.name %></h2>
    <img src="https://swgoh.gg<%=ship.image%>">
    <form method="POST" action="/ship">
        <input hidden type="text" name="name" value="<%= ship.name %>">
        <input hidden type="text" name="power" value="<%= ship.power %>">
        <input hidden type="text" name="role" value="<%= ship.role %>">
        <input hidden type="text" name="pic" value="https://swgoh.gg<%=ship.image%>">
        <button class="btn btn-primary" type="submit">Add to fleet</button>
    </form>
<% }) %>